<p>Ask your coach anything</p>
<div class="form_question">
  <form action="/answer" method="get">
    <input type="text" name="question">
    <input id='button_ask' type="submit" value="Ask!">
  </form>
</div>
